<% include ./partials/head %>
<div class="container">
<h2>Liste des taches</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Details</th>
        <th scope="col">Type</th>
        <th scope="col"></th>
        <th scope="col"></th>        
        <th scope="col"></th>
        
      </tr>
    </thead>
    <tbody>
    <%  allTasks.forEach(function(task) { %>
      <tr>
        <th scope="row"><%= task.id %></th>
        <td><%= task.title %></td>
        <td><%= task.details %></td>
        <td><%= task.type %></td> 
        <td><a class="btn btn-primary" href="update/<%= task.id %>">Modifier</a></td>
        <td><a href="/delete/<%= task.id %>" class="btn btn-success">Valider</a></td>
        <td><a href="/delete/<%= task.id %>" class="btn btn-danger">Supprimer</a></td>

      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<% include ./partials/footer %>
